<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
<% @favorite.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>No Favorite Videos Added Yet</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <!-- Label and input for video_id -->
    <div class="form-group">
      <label for="video_id" class="control-label">
        <h5>  Return to the video index to start finding your favorite videos.</h5>
      </label>


    </div>


    <button class="btn btn-success">
      <a href="/videos">
        <i class="fa fa-chevron-left"></i> Video Index
      </a>
    </button>

</div>
</div>
