<div class="page-header">
  <h3>Here Are Your Favorite Videos - People Sharing Experiences</h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <dd><%= @favorite.video.title %></dd></h3>
        </div>
        <div class="panel-body">
          <a href="/favorites/<%= @favorite.video.id %>">
            <iframe width="720" height="515" src="<%= @favorite.video.url.html_safe %>" frameborder="0" allowfullscreen></iframe>
          </a>
        </div>
        <div class="btn-group btn-group-justified">
          <a href="/favorites" class="btn btn-primary">
            Back
          </a>
          <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
