<div class="page-header">
  <h1>About Us</h1>
</div>
<h4>Gwella is an international community built to show people that they are not alone in the challenges and success experienced in everyday life. The platform serves a source of motivation and inspiration for citizens of the world. Gwella is where people help people, and no one is alone.</h4>
<p>
<div class="page-header">

<h2>The Team</h2></div>
<h3><p>Matt Bey (CEO, founder)</p></h3>
<h4><p>Matt Bey is the CEO and founder of Gwella. He is responsible for the company's overall vision and strategy as well as day-to-day operations.</p>
<p>
Since the beginning, Matt has focused on simplicity and inspiring creativity through solving problems with thoughtful product design. As a result, Gwella has become the home for help and inspiration to millions of people around the world.</p>
<p>
Prior to founding Gwella, Matt traded index derivatives at IMC Financial Markets, and worked in global operations at Citadel LLC. He earned a BBA from Ohio University and a MBA from The University of Chicago Booth School of Business.</p></h4></p>
